.container{
    padding-bottom: 100px;
}
.carousel-item h1{
    color: #1f1f1f;
    font-weight: 500;
    font-family: "Poppins";
}
.carousel-item p{
    color: #707070;
    font-weight: 300;
    font-family: "Poppins";
}
.buy-now-button{
    outline: none;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: .7s;
}
.buy-now-button:hover{
    background-color: #ffb527;
}
.hero_banner{
    background-image: url(./images/bg-2.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: left bottom;
}
.slider_text{
    background-image: url(./images/bg-1.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.cat_header{
    position: relative;
}
.cat_header::after{
    content: "";
    position: absolute;
    width: 8%;
    height: 5px;
    background: linear-gradient(90deg, rgba(255,197,31,1) 35%, rgba(255,156,53,1) 100%);
    border-radius: 10px;
    bottom: -30%;
    left: 46%;
}